*.iml
*.ipr
*.pyc
*.iws
.idea/
\.tmp/
target/
vendor/
node_modules/
*.log
.DS_Store
/tmp/
._.DS_Store
currentLog
node_modules/
scripts/inps/queryview/*.json
*.log
.DS_Store
/tmp/
._.DS_Store
client/tmp/
server/admin/app/js/nabu-client-fastopt.js
server/admin/app/js/nabu-client-fastopt.js.map
server/admin/dist/
server/admin_backup/
server/ok/
server/admin/app/vendors/
server/admin_ok/app/vendors/
server/admin_ok/dist/
server/conf/application.conf
nabu/src/main/resources/application.conf
hdbadmin/node_modules
hdbadmin/dist
server/public/vendors/
scripts/inps/mappings/doc/
nabu-cli/src/main/resources/application.conf
upickle/jvm/src/main/java/
upickle/tmp/
